/* 
CORES 

#FFFFFF - BRANCO
#F8FAFC - GELO AZULADO
#2563EB - AZUL COBALTO
#F97316 - LARANJA CÍTRICO
#0F172A - AZUL ARDÓSIA
#64748B - CINZA AZULADO



  (títulos e textos longos):
  
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  (interface):

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/