/*------NAVBAR------*/


@media screen and (max-width: 630px) {
  /*------MENU HAMBURGUER------*/
  #nav-esq {
    justify-content: space-between;
  }

  #nav-esq ul#icone-menu {
    display: flex;
  }

  #nav-esq ul#icone-menu {
    display: flex
  }

  #nav-esq ul#icone-menu li#menuX {
    display: none;
  }


  /*------MENU-----*/

  #nav-esq ul#menu-principal {
    flex-direction: column;
    width: 80%;
    height: 85vh;
    background: linear-gradient(rgb(26, 44, 77) 0%, rgb(68, 77, 161) 45%,  rgb(36, 15, 77) 100%);
    padding-top: .5rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    display: none;

  }

  #nav-esq ul#menu-principal li {
    margin: .5rem;
    margin-left: 1rem;
  }




   
}